P.ONE
{
FONT-SIZE:12PT;
COLOR:YELLOW;
BACKGROUND-COLOR:GREEN;
}

P.TWO
{
align=left;
position=top;
FONT-SIZE:18PT;
COLOR:CYAN;
BACKGROUND-COLOR:BLUE;
}

h2
{
BACKGROUND-COLOR:pink;
}
h3
{
BACKGROUND-COLOR:RED;
}

HR 
{

COLOR:green;

}

BODY
{
BACKGROUND-COLOR:cyan;
}